/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------------------General Styles------------------------ */

body {
    background-color: #042242;
}

/* ------------------------Header------------------------ */

header {
    border-radius: 10px;
    background-color: #54a8ff;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: #042242;
}

/* ------------------------Main Feed------------------------ */
.main-feed {
    color: white;
    margin: 20px auto;
    max-width: 445px;
}

/* ------------------------Tweet------------------------ */
.tweet {
    margin: 10px 0;
    padding: 10px;
    background-color: #54a8ff;
    color: #042242;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

/* ------------------------Buttons------------------------ */
.btn {
    float: right;
    margin-bottom: 30px;
    height: 50px;
    width: 150px;
    border: none;
    color: #042242;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #54a8ff;
    border-radius: 15px;
}

.btn:hover {
    background-color: #042242;
    color: #54a8ff;
    border: 2px solid #54a8ff;
    cursor: pointer;
}

.btn:focus {
    outline: 0;
}

/* ------------------------Username------------------------ */
.tweet .user {
    /*border: 2px solid white;*/
    display: inline-block;
    background-color:  #042242;
    color: #54a8ff;
    padding: 8px;
    border-radius: 8px;
}

.tweet .user:hover {
    cursor: pointer;
    background-color: #54a8ff;
    color: #042242;
    border: 2px solid #042242;
}

/* ------------------------Message------------------------ */
.tweet .message {
    margin: 10px 0;
}

/* ------------------------Time------------------------ */
.tweet .time {
    margin: 10px 0;
}